.btn-attrs-all, .btn-attrs-none {
	background-color: #009879;
	border: none;
	color: white;
	margin-right: 4px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	border-radius: .2rem;
	transition: background-color 0.3s ease;
}

.btn-attrs-all:hover {
    background-color: #007a63;
}

.btn-attrs-none {
    background-color: #e81717;
}

.btn-attrs-none:hover {
    background-color: #c71010;
}

#tt-position-lists {
	font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tt-position-lists td, #tt-position-lists th {
	border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tt-position-lists tr:nth-child(even) {
	background-color: #dddddd;
}

#tt-position-lists tr:hover {
	background-color: #efe8e8;
}

#tab_plgacymtradingpositions_0 {
	overflow: auto;
	width: 100%;
}

.vg-position-search-container {
	display: flex;
	/*justify-content: center;*/
	margin-bottom: 10px;
	position: relative;
}

.vg-position-search-container input[type="text"] {
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	/*border-radius: 5px 0 0 5px;*/
	outline: none;
}

.vg-position-search-container button, #vg-send-mail{
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	/*border-radius: 0 5px 5px 0;*/
}

.vg-position-search-container button:hover, #vg-send-mail:hover{
	background-color: #0056b3;
}

.vg-position-pagination {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

.vg-position-pagination li {
	margin: 0 2px;
}

.vg-position-pagination a {
	display: block;
	padding: 10px 15px;
	color: #007bff;
	text-decoration: none;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.vg-position-pagination-dot a {
	display: block;
	color: red;
}

.vg-position-pagination a:hover {
	background-color: #007bff;
	color: white; !important;
}

.vg-position-pagination .active a {
	background-color: #007bff;
	color: white;
	border-color: #007bff;
}

.vg-position-pagination .vg-position-pagination-dot a {
	background-color: transparent;
	color: #333;
	border: none;
}

.vg-position-pagination .vg-position-pagination-dot a:hover {
	background-color: transparent;
	color: #333;
}

.table-overlay {
	position: absolute;
	background-color: #dcdcdc;
	opacity: .5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

#vg-trading-executing {
	display: none;
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;*/

}

.trading-mail-config {
    background-color: #f8f9fa;
    padding: 20px;
	border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.trading-mail-config div {
    margin-bottom: 15px;
}

.trading-mail-config span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.trading-mail-config select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.trading-mail-config select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-mail-msg {
	display: none;
}

.msg-success {
	color: #198754;
}

.msg-fail {
	color: #dc3545;
}

.open-mail-preview, .close-mail-preview {
	padding-top: 5px;
}

.open-mail-preview table.body, .close-mail-preview table.body{
	width: 100%;
}

/*
.open-mail-preview #acym__wysid__template, .close-mail-preview #acym__wysid__template {
	height: 50%;
}*/

.vg-show {
	display: block;
}

.vg-hide {
	display: none;
}

#tbl-trading-data, .vg-position-pagination, .vg-position-search-container {
	/*display: none;*/
}

.select-acym-templates {
	display: flex;
}

#vg-send-mail {
	font-weight: bold;
	background-color: #009879;
	height: 35%;
	margin-top: 24px;
	margin-left: 4px;
	border-radius: 4px;
}

.group-btn-trading {
	display: flex;
}

.label-user-name {
	margin-right: 5px;
}

.label-user-email {
	margin-left: 5px;
}

.disabled-button {
	background-color: #6c757d !important; /* Use a gray color to indicate it's disabled */
	cursor: not-allowed !important;
	pointer-events: none; /* Disable hover and click events */
}

.disabled-button:hover {
	background-color: #6c757d; /* Ensure the hover state doesn't change the color */
	cursor: not-allowed;
}

#send-mail-success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
	border-radius: 4px;
	padding: 15px;
	margin: 20px 4px 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
}

#send-mail-success p {
	margin: 0 0 10px;
}

#send-mail-success p:last-child {
	margin-bottom: 0;
}

.label-shortcode {
	background-color: #f8f9fa;
	padding: 20px;/
	border-radius: 2px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.label-shortcode > div {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.label-shortcode label {
	flex: 0 0 150px; /* Adjust the width of the label as needed */
	font-weight: bold;
	margin-right: 10px;
	color: #333;
}

.shortcode-name {
	font-size: 15px;
	text-decoration: underline;
}

.label-shortcode input[type="text"] {
	flex: 1;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ced4da;
	box-sizing: border-box;
	transition: border-color 0.2s;
}

.label-shortcode input[type="text"]:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.has-success .form-control-success {
	border-color: #28a745;
}

.has-success .form-control-success:focus {
	border-color: #28a745;
	box-shadow: 0 0 5px rgba(40, 167, 69, 0.25);
}

.search-hint {
    display: none; /* Hide by default */
    position: absolute;
    top: 40px; /* Adjust as needed */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: max-content;
    max-width: 300px;
}

.vg-position-search-container:hover .search-hint {
    display: block; /* Show on hover */
}

.search-hint p {
    margin: 5px 0;
}

.search-hint code {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

.no-records-found {
    color: #dc3545; /* Bootstrap's danger color */
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    max-width: 400px;
    margin: 20px auto; /* Center horizontally and add vertical margin */
    font-family: Arial, sans-serif;
}

.label-shortcode label, #all-sample-shortcode{
	cursor: copy;
}

.vg-editor {
	display: flex;
	gap: 15px;
}