.btn-attrs-all, .btn-attrs-none {
	background-color: #009879;
	border: none;
	color: white;
	margin-right: 4px;
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	border-radius: .2rem;
	transition: background-color 0.3s ease;
}

.btn-attrs-all:hover {
    background-color: #007a63;
}

.btn-attrs-none {
    background-color: #e81717;
}

.btn-attrs-none:hover {
    background-color: #c71010;
}

#tt-position-lists {
	font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tt-position-lists td, #tt-position-lists th {
	border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tt-position-lists tr:nth-child(even) {
	background-color: #dddddd;
}

#tt-position-lists tr:hover {
	background-color: #efe8e8;
}

#tab_plgacymtradingpositions_0 {
	overflow: auto;
	width: 100%;
}

.vg-position-search-container {
	display: flex;
	/*justify-content: center;*/
	margin-bottom: 10px;
}

.vg-position-search-container input[type="text"] {
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	/*border-radius: 5px 0 0 5px;*/
	outline: none;
}

.vg-position-search-container button, #vg-send-mail{
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	/*border-radius: 0 5px 5px 0;*/
}

.vg-position-search-container button:hover, #vg-send-mail:hover{
	background-color: #0056b3;
}

.vg-position-pagination {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

.vg-position-pagination li {
	margin: 0 2px;
}

.vg-position-pagination a {
	display: block;
	padding: 10px 15px;
	color: #007bff;
	text-decoration: none;
	border: 1px solid #ccc;
	/*border-radius: 5px;*/
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.vg-position-pagination-dot a {
	display: block;
	color: red;
}

.vg-position-pagination a:hover {
	background-color: #007bff;
	color: white; !important;
}

.vg-position-pagination .active a {
	background-color: #007bff;
	color: white;
	border-color: #007bff;
}

.vg-position-pagination .vg-position-pagination-dot a {
	background-color: transparent;
	color: #333;
	border: none;
}

.vg-position-pagination .vg-position-pagination-dot a:hover {
	background-color: transparent;
	color: #333;
}

.table-overlay {
	position: absolute;
	background-color: #dcdcdc;
	opacity: .5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

#vg-trading-executing {
	display: none;
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;*/

}

.trading-mail-config {
    background-color: #f8f9fa;
    padding: 20px;
	border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.trading-mail-config div {
    margin-bottom: 15px;
}

.trading-mail-config span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.trading-mail-config select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

.trading-mail-config select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-mail-msg {
	display: none;
}

.msg-success {
	color: #198754;
}

.msg-fail {
	color: #dc3545;
}

.open-mail-preview, .close-mail-preview {
	padding-top: 5px;
}

.open-mail-preview table.body, .close-mail-preview table.body{
	width: 100%;
}

/*
.open-mail-preview #acym__wysid__template, .close-mail-preview #acym__wysid__template {
	height: 50%;
}*/

.vg-show {
	display: block;
}

.vg-hide {
	display: none;
}

#tbl-trading-data, .vg-position-pagination, .vg-position-search-container {
	/*display: none;*/
}

.select-acym-templates {
	display: flex;
}

#vg-send-mail {
	font-weight: bold;
	background-color: #009879;
	height: 35%;
	margin-top: 24px;
	margin-left: 4px;
	border-radius: 4px;
}

.group-btn-trading {
	display: flex;
}

.label-user-name {
	margin-right: 5px;
}

.label-user-email {
	margin-left: 5px;
}